# Backend settings
DATABASE_URL=sqlite:///./app.db
PROMETHEUS_ENABLED=true
SECRET_KEY=please-change-me
ACCESS_TOKEN_EXPIRE_MINUTES=1440
# optional override for JWT algorithm
# JWT_ALGORITHM=HS256
# Frontend settings
NEXT_PUBLIC_API_URL=http://localhost:8000/api
